@font-face {
  font-family: Georgia;
  src: url("assets/fonts/georgia.ttf");
}


@font-face {
  font-family: Arial;
  src: url("assets/fonts/arialmt.ttf");
}


html {
  scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    max-width: 1280px;
    width: 100%;
    top: 30px;
  }


  .logotype {
    display:inline-block;
    width: 186px;
    padding-left: 40px;
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    text-align: left;
    text-decoration:none;
    color: rgba(241, 205, 179, 1);

  }


  .logotype span {
    display:block;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 32.95px;
    letter-spacing: 0.12em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }


  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 500px;
    width: 100%;
    padding-right: 40px;

  }


  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 443px;
    width: 100%;
  }


  .nav-item {
    list-style-type: none;
  }


  .nav-link{
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(205, 205, 205, 1);
  }


  .nav-link {
    text-decoration: none;
    background-image: linear-gradient(rgba(241, 205, 179, 1), rgba(241, 205, 179, 1));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    background-size: 0% 3px;
    transition: background-size 0.3s;
  }


  .nav-link:hover {
    padding-bottom: 5px;
    background-size: 100% 3px;
  }


  .about-stop {
    list-style-type: none;
    margin-top: 3px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(205, 205, 205, 1);
    border-bottom: 3px solid rgba(241, 205, 179, 1);
    padding-bottom: 0px;
    cursor: default;
  }


  .main-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }


  .section-start-screen-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(33, 31, 32, 1);
    background-image: radial-gradient(ellipse at top left, rgba(91, 72, 58, 1), rgba(38, 36, 37, 1));

  }


  .section-start-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }


  .section-start-screen {
    max-width: 1280px;
    width: 100%;
    max-height: 908px;
    height: 100%;
    
  }


  .start-screen-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    max-height: 728px;
    height: 100%;
    margin-top: 180px;
    margin-left: 40px;
    margin-right: 40px;
  }


  .start-screen-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 460px;
    height: 322px;
    transform: translate(0px, -39px);

  }


  .h1 {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 55.2px;
    margin: 0;
    text-align: left;
    color: rgba(255, 255, 255, 1);

  }


  .start-screen-text {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(205, 205, 205, 1);

  }


  .makeBtn {
    width: Hug (207px)px;
    height: Hug (52px)px;
    padding: 14px 43px 14px 43px;
    border-radius: 100px 100px 100px 100px;
    background: rgba(241, 205, 179, 1);
    border: 2px solid rgba(241, 205, 179, 1);
    transition: 0.3s;
  }


  .makeBtn:hover {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .button-shelter-text {
    font-family: Georgia;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.1px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(41, 41, 41, 1);

  }


  .start-screen-puppy {
    max-width: 698px;
    width: 100%;
    min-width: 120px;
    
  }


  .section-about-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 1);

  }


  .section-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .section-about {
    max-width: 1280px;
    width: 100%;
    max-height: 588px;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    

  }


  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 116px;
  }


  .about-content {
    max-width: 1200px ;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }


  .about-pets {
    max-width: 300px;
    width: 100%;
    min-width: 120px;

  }


  .about-shelter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 27px;

  }


  .about-shelter {
    min-width: 330px;
    width: 430px;
    height: 380px;
  }


  .about-heading {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(84, 84, 84, 1);

  }


  .about-text-1 {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(76, 76, 76, 1);

  }


  .about-text-2 {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: rgba(76, 76, 76, 1);

  }


  .section-pets-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(246, 246, 246, 1);

  }


  .section-pets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }


  .section-pets {
    max-width: 1280px;
    width: 100%;

    background: rgba(246, 246, 246, 1);
    
  }


  .pets-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  
  }


  .pets-content {
    max-width: 1200px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    margin-bottom: 100px;
  }


  .pets-heading {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(84, 84, 84, 1);
    margin: 0px;
    margin-bottom: 60px;
  }


  .pets-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }


  .pets-slider {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 60px;
  }


  .button-arrow {
    width: Hug (52px)px;
    height: Hug (52px)px;
    padding: 17px 17px 17px 17px;
    border-radius: 100px 100px 100px 100px;  opacity: 0px;
    border: 2px solid rgba(241, 205, 179, 1);
    transition: 0.3s;
    
  }


  .button-arrow:hover {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .button-arrow-content{
    width: 14px;
    height: 6px;
  }


  .pets-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .pets-card {
    width: 270px;
    margin-left: 36px;
    margin-right: 36px;
    background: rgba(250, 250, 250, 1);

  }


  .pets-card:hover button {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .pets-img {
    width: 270px;
    height: 270px;
    gap: 0px;
    border-radius: 9px 9px 0px 0px;
    margin-bottom: 29px;

  }


  .pets-name {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(84, 84, 84, 1);
    margin-bottom: 30px;
  }


  .button-pets-card {
    width: Hug (207px)px;
    height: Hug (52px)px;
    border: 2px solid rgba(241, 205, 179, 1);
    background: rgba(250, 250, 250, 1);
    padding: 13px 43px 13px 43px;
    margin-bottom: 30px;
    gap: 10px;
    border-radius: 100px 100px 100px 100px;
    transition: 0.3s;
    

  }


  .button-pets-card:hover {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .button-slider {
    width: Hug (261px)px;
    height: Hug (52px)px;
    border: 2px solid rgba(241, 205, 179, 1);
    background: rgba(241, 205, 179, 1);
    padding: 13px 43px 13px 43px;
    border-radius: 100px 100px 100px 100px;
    transition: 0.3s;

  }


  .button-slider:hover {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .section-help-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(255, 255, 255, 1);

  }


  .section-help {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .section-help {
    max-width: 1280px;
    width: 100%;
    
    height: 100%;
    background: rgba(255, 255, 255, 1);
  
  }


  .help-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  

  .help-content {
    max-width: 1200px;
    width: 100%;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }


  .help-heading {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: center;    
    color: rgba(84, 84, 84, 1);
    margin-bottom: 60px;
  }


  .help-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 119px;
    row-gap: 54px;
    
  }


  .help-box {
    max-width: 1026px;
    width: 100%;
    
    
  }


  .help-box-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 113px;
    
  }


  .box-item-text{
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(84, 84, 84, 1);

  }


  .section-donation-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(246, 246, 246, 1);
  }


  .section-donation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .section-donation {
    max-width: 1280px;
    width: 100%;
    background: rgba(246, 246, 246, 1);

  }


  .donation-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .donation-content {
    width: 915px;
    height: 282px;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
  }


  .donation-dog-img {
    max-width: 505px;
    width: 100%;
    min-width: 120px;

  }


  .donation-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
  }


  .donation-contacts {
    max-width: 380px;
    width: 100%;
    height: 282px;

  }


  .donation-contacts-heading {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(84, 84, 84, 1);

  }


  .donation-contacts-text {
    font-family: Georgia;
    font-size: 15px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(84, 84, 84, 1);

  }


  .button-donation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .button-donation {
    width: Hug (349px)px;
    height: Hug (43px)px;
    padding: 10px 15px 10px 15px;
    gap: 10px;
    border-radius: 9px 9px 9px 9px;
    border: 2px solid rgba(241, 205, 179, 1);
    background: rgba(241, 205, 179, 1);
    transition: 0.3s;
  }


  .button-donation:hover {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .donation-item {
    width: 30px;
    height: 23px;
    color: rgba(41, 41, 41, 1);

  }
  
  
  .button-donation-text {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(84, 84, 84, 1);

  }


  .donation-contacts-text-italic {
    font-family: Arial;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: rgba(178, 178, 178, 1);

  }


  .main-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
  }


  .footer-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(33, 31, 32, 1);
    background-image: radial-gradient(ellipse at top left, rgba(91, 72, 58, 1), rgba(38, 36, 37, 1));

  }


  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }

  .footer-content {
    max-width: 1280px;
    width: 100%;
    
  }


  .footer-content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
  }


  .footer-content-box {
    max-width: 1200px;
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

  }


  .footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
  }


  .footer-box {
    min-width: 300px;
    width: 300px;
    height: 234px;
    margin-bottom: 60px;
    margin-right: 40px;
  }


  .footer-box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
  }


  .footer-box1 {
    min-width: 300px;
    width: 300px;
    height: 234px;
    margin-bottom: 60px;
    margin-right: 40px;
    transform: translate(-11px,0px)
  }


  .footer-box-text {
    font-family: Georgia;
    font-size: 35px;
    font-weight: 400;
    line-height: 45.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(255, 255, 255, 1);

  }


  .footer-box-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .footer-contacts-link {
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: left;
    color: rgba(241, 205, 179, 1);
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
  }


  .footer-contacts-link:hover {
    color: rgba(253, 220, 196, 1);;
  }


  .footer-puppy {
    max-width: 300px;
    width: 100%;
    min-width: 120px;
  }


  /* Our Pets Site*/


  .header-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .header-background {
    width: 100%;
    background: rgba(255, 255, 255, 1);
  }
  
  
  .header1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }


  .header1 {
    width: 1280px;
    height: 120px;
    background: rgba(255, 255, 255, 1);

  }


  .header-pets-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
  }


  .header-pets-content {
    width: 1200px;
    height: 60px;    

  }


  .logotype-pets {
    display:inline-block;
    flex-grow: 1;
    width: 184px;
    font-family: Georgia;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    text-align: left;
    text-decoration:none;
    color: rgba(84, 84, 84, 1);

  }


  .logotype-pets span {
    display:block;
    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 32.95px;
    letter-spacing: 0.12em;
    text-align: left;
    color: rgba(41, 41, 41, 1);

  }


  .nav-link-pets {
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;     
    color: rgba(84, 84, 84, 1);

  }


  .nav-link-pets {
    text-decoration: none;
    background-image: linear-gradient(rgba(241, 205, 179, 1), rgba(241, 205, 179, 1));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    background-size: 0% 3px;
    transition: background-size 0s;
  }
  
  
  .nav-link-pets:hover {
    background-size: 100% 3px;
  }


  .about-stop1 {
    list-style-type: none;
    margin-top: 3px;
    font-family: Arial;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;     
    color: rgba(84, 84, 84, 1);
    border-bottom: 3px solid rgba(241, 205, 179, 1);
    padding-bottom: 0px;
    cursor: default;
  }


  .main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .main {
    width: 100%;
    background: rgba(246, 246, 246, 1);
  }


  .main-friends {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .main-friends {
    width: 1280px;
    height: 1342px;
    background: rgba(246, 246, 246, 1);
  }


  .main-friends-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transform: translate(0px,-10px)
  }


  .main-friends-content {
    width: 1200px;
    height: 1162px;
        

  }


  .pets-friends-slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

  }


  .pets-friends-slider {
    width: 1200px;
    height: 930px;
  
  }


  .friends-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .friends-card {
    width: 270px;
    height: 435px;
    background: rgba(250, 250, 250, 1);

  }


  .friends-card:hover button {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .friends-card {
    margin-top: 15px;
    margin-bottom: 15px;
  }


  .slider-nav {
    display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
  }


  .slider-nav {
    width: 340px;
    height: 52px;

  }


  .button-slider-nav-1{
    width: Hug (52px)px;
    height: Hug (52px)px;
    padding: 13px 19px 13px 19px;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid rgba(241, 205, 179, 1);
    background: rgba(241, 205, 179, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center;   
  }


  .button-slider-nav-right {
    width: Hug (52px)px;
    height: Hug (52px)px;
    padding: 12px 12px 12px 12px;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid rgba(241, 205, 179, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.06em;
    text-align: center; 
  }


  .button-slider-nav-right:hover {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .button-slider-nav-right1 {
    width: Hug (52px)px;
    height: Hug (52px)px;
    padding: 13px 19px 13px 19px;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid rgba(241, 205, 179, 1);
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;    

  }


  .button-slider-nav-right1:hover {
    background: rgba(253, 220, 196, 1);
    border: 2px solid rgba(253, 220, 196, 1);
    cursor: pointer;
  }


  .button-slider-nav-left1 {
    width: Hug (52px)px;
    height: Hug (52px)px;
    padding: 13px 19px 13px 19px;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid rgba(205, 205, 205, 1);
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(205, 205, 205, 1); 
    cursor: no-drop;   
  }


  .button-slider-nav-left {
    width: Hug (52px)px;
    height: Hug (52px)px;
    padding: 12px 12px 12px 12px;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid rgba(205, 205, 205, 1);
    font-family: Georgia;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    color: rgba(205, 205, 205, 1);
    cursor: no-drop;
  }


  @media (max-width: 1180px) {

    .card-3 {
      display: none;
    }


    .help-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;



    }
  }


  @media (max-width: 980px) {

    .footer-content-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

    }

  }


  @media (max-width: 880px) {

    .pets-card {
      margin-left: 16px;
      margin-right: 16px;
  
    }


    .button-donation-text {
      font-size: 18px;
    }

  }


  @media (max-width: 768px) {

    .main-header {
      max-width: 788px;
      width: 100%;
      transform: translate(0px, 0px);
      
    }


    .logotype {
      padding-left: 30px;
    }


    .nav {
      padding-right: 30px;
    }
    
    
    .section-start-screen {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      max-width: 768px;
      width: 100%;
      max-height: 1165px;
      height: 100%;


    }
    
    
    .start-screen-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  
  
    .start-screen-block {
      max-width: 569px;
      width: 100%;
      max-height: 1015px;

    }


    .start-screen-content {
      max-width: 460px;
      width: 100%;
      height: 322px;
      transform: translate(0px, 0px);
      margin-bottom: 98px;
    }


    .start-screen-puppy {
      max-width: 569px;
      width: 100%;  
      transform: translate(70px, 0px);
      
    }

    
    .makeBtn {
      transform: translate(125px, -2px);
    }


    .section-about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 768px;
      width: 100%;
      max-height: 1048px;
      height: 100%;
      
    }


    .about-content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
      width: 437px;
      height: 868px;
      margin-top: 90px;
    }


    .about-shelter {
      transform: translate(0px, -10px);
    }


    .about-text-1 {
      transform: translate(0px, -1px);
    }


    .about-text-2 {
      transform: translate(0px, -3px);
    }


    .about-pets{
      transform: translate(0px, 70px);
    }


    .pets-content {
      margin-top: 56px;
    }


    .pets-heading {
      margin-bottom: 84px;
    }


    .pets-slider {
      max-width: 708px;
      width: 100%;
      
      
    }


    .pets-card {
      margin-left: 16px;
      margin-right: 16px;
  
    }


    .card-3 {
      display: none;
    }


    .section-help {
      width: 768px;
      height: 779px;

    }


    .help-content {
      max-width: 630px;
      width: 100%;

    }


    .help-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 60px;
      row-gap: 55px;
      max-width: 630px;
      width: 100%;
      

    }


    .help-box-item {
      width: 170px;
      height: 113px;      

    }


    .section-donation {
      width: 768px;
      height: 783px;    

    }


    .donation-content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      row-gap: 60px;
      width: 768px;
      height: 783px;    
    }


    .button-donation-text {
      font-family: Georgia;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.06em;
      text-align: left;
      color: rgba(84, 84, 84, 1);
    }


    .footer-content {
      max-width: 768px;
      width: 100%;
      padding-bottom: 0px;
    }


    .footer-content-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 60px;
      row-gap: 5px;
      max-width: 768px;
      width: 100%;
      margin-top: 30px;
    }


    .footer-box {
      margin-top: 0px;
      margin-right: 0px;
      transform: translate(10px, 0px);
    }


    .footer-box1 {
      margin-top: 0px;
      margin-right: 0px;
      
    }


    .header1 {
      width: 768px;
      height: 120px;

    }


    .header-pets-content {
      width: 708px;
      height: 60px;
         
    }


    .main-friends {
      width: 768px;
      height: 1733px;
      
    }


    .main-friends-content {
      width: 708px;
      height: 1603px;
     
    }


    .pets-heading {
      transform: translate(0px, 24px);
    }


    .pets-friends-slider {
      width: 580px;
      height: 1365px;
      transform: translate(0px, -9px);
    }


    .card-7 {
      display: none;
    }


    .card-8 {
      display: none;
    }




  }


  @media (max-width: 320px) {

    .main-header {
      width: 280px;
      height: 60px;

    }


    .nav{
      display: none;
    }
    
    
    .section-start-screen {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 320px;
      height: 823px;    

    }
    
    
    .start-screen-block {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  
  
    .start-screen-block {
      width: 300px;
      height: 673px;
      transform: translate(0px, -10px);
    }


    .start-screen-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 296px;    

    }


    .h1 {
      font-family: Georgia;
      font-size: 25px;
      font-weight: 400;
      line-height: 32.5px;
      letter-spacing: 0.06em;
      text-align: center;
      
    }


    .start-screen-text {
      font-family: Arial;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      
    }


    .start-screen-puppy {
      width: 260px;
      height: 271.77px;
      transform: translate(20px, 10px);
    }

    
    .makeBtn {
      transform: translate(0px, 2px);
    }


    .section-about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 974px;     
      
    }


    .about-content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 890px;
      
    }


    .about-shelter {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 494px;
      padding: 0px;

    }


    .about-heading {
      font-family: Georgia;
      font-size: 25px;
      font-weight: 400;
      line-height: 32.5px;
      letter-spacing: 0.06em;
      text-align: center;
      transform: translate(0px, 10px);
    }


    .about-text-1 {
      display: block;
      margin: 14px;
      font-family: Arial;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: justify;
      transform: translate(0px, -7px);
    }


    .about-text-2 {
      display: block;
      margin: 14px;
      font-family: Arial;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      text-align: justify;
      transform: translate(0px, -40px);      
    }


    .about-pets {
      width: 260px;
      height: 353.6px;      
      transform: translate(0px, 0px);
    }


    .section-pets{
      width: 320px;
      height: 791px;
      
    }


    .pets-content {
      width: 300px;
      height: 707px;

    }


    .pets-slider {
      width: 270px;
      height: 507px;
      justify-content: center;
      column-gap: 80px;
      flex-wrap: wrap-reverse;

    }


    .pets-heading {
      font-family: Georgia;
      font-size: 25px;
      font-weight: 400;
      line-height: 32.5px;
      letter-spacing: 0.06em;
      text-align: center;
      transform: translate(0px, 10px);
    }


    .pets-card {
      margin-left: 0px;
      margin-right: 0px;
  
    }


    .card-1 {
      order: 1;
      transform: translate(0px, 5px);
    }


    .card-2 {
      display: none;
    } 


   .card-3 {
      display: none;
    }
    
    
    .button-arrow {
      transform: translate(0px, 15px);
    }


    .button-slider {
      transform: translate(0px, 10px);
    }


    .section-help {
      width: 320px;
      height: 745px;

    }


    .help-content {
      width: 320px;
      height: 745px;

    }


    .help-heading {
      font-family: Georgia;
      font-size: 25px;
      font-weight: 400;
      line-height: 32.5px;
      letter-spacing: 0.06em;
      text-align: center;
      transform: translate(0px, 50px);
    }


    .help-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 0px;
      row-gap: 28px;
      width: 290px;
      height: 555px;     
      transform: translate(0px, -32px);
    }


    .help-box-item {
      width: 130px;
      height: 87px;        
    }


    .box-item-img {
      width: 50px;
      height: 50px;
      
    }


    .box-item-text {
      font-family: Georgia;
      font-size: 15px;
      font-weight: 400;
      line-height: 16.5px;
      letter-spacing: 0.06em;
      text-align: center;
      
    }


    .section-donation {
      width: 320px;
      height: 542.2px;

    }


    .donation-content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: 542.2px;
        
    }


    .donation-contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      row-gap: 15px;
      transform: translate(0px, 20px);
      width: 300px;
      height: 281px;
      
    }


    .donation-contacts-heading {
      font-family: Georgia;
      font-size: 25px;
      font-weight: 400;
      line-height: 32.5px;
      letter-spacing: 0.06em;
      text-align: center;
      
    }


    .donation-contacts-text {
      font-family: Georgia;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-align: left;
      
    }


    .button-donation-text {
      font-family: Georgia;
      font-size: 15px;
      font-weight: 400;
      line-height: 16.5px;
      letter-spacing: 0.06em;
      text-align: left;
      
    }


    .donation-contacts-text-italic {
      display: block;
      margin: 10px;
      font-family: Arial;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
      line-height: 18px;
      text-align: justify;

    }


    .button-donation {
      transform: translate(0px, 6px);
    }


    .donation-dog-img {
      width: 260px;
      height: 135.2px;
      
    }


    .footer-content {
      width: 320px;
      height: 809px;     

    }


    .footer-content-box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 320px;
      height: 809px; 

    }



    .footer-box {
      width: 278px;
      height: 208px;     
      transform: translate(10px, 0px);


    }


    .footer-box1 {
      width: 278px;
      height: 222px;
      transform: translate(-10px, -32px);
  
    }

    .footer-box-text {
      font-family: Georgia;
      font-size: 25px;
      font-weight: 400;
      line-height: 32.5px;
      letter-spacing: 0.06em;
      text-align: center;
      
    }


    .footer-contacts-link {
      font-family: Georgia;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.02em;
      text-align: left;
      
    }


    .footer-puppy {
      width: 260px;
      height: 269px;
      transform: translate(0px, -45px);

    }


    .header1 {
      width: 320px;
      height: 120px; 

    }


    .header-pets-content {
      width: 280px;
      height: 60px;
  
    }


    .main-friends {
      width: 320px;
      height: 1649px;

    }


    .main-friends-content {
      width: 300px;
      height: 1565px;

    }


    .pets-heading {
      transform: translate(0px, 10px);
    }


    .pets-friends-slider {
      width: 270px;
      height: 1365px;
    }


    .card-4 {
      display: none;
    }


    .card-5 {
      display: none;
    }


    .card-6 {
      display: none;
    }


    .card-7 {
      display: none;
    }


    .card-8 {
      display: none;
    }


    .slider-nav {
      width: 300px;
      height: 52px;
      transform: translate(0px, 10px);
    }
  }